<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Lizi</title>
</head>
<body>
<table width="800" border="0" cellspacing="0" cellpadding="0">
    <!--<tr>-->
        <!--<td align="center" bgcolor="#111111" style="background:#111;padding:10px 0;">-->
            <!--<table width="700" border="0" cellspacing="0" cellpadding="0">-->
                <!--<tr>-->
                    <!--<td align="left"><a href="https://www.questmobile.com.cn" target="_blank"><img src="https://www.questmobile.com.cn/logo/2018/logo.png" width="212" height="54" alt="QuestMobile" style="border:0;" /></a></td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</td>-->
    <!--</tr>-->
    <tr>
        <td align="center" style="background:#fbfbfb;" bgcolor="#fbfbfb">
            <table width="700" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="left" style="font-size:14px;line-height:24px;padding:30px 0;font-family:Microsoft YaHei,'微软雅黑';color:#333;"><strong>尊敬的用户，您好！</strong><br />
                        </td>
                </tr>
                <tr>
                    <td align="left" style="font-size:14px;line-height:24px;color:#333;font-family:Microsoft YaHei,'微软雅黑';">
                        您的帐号密码已经重置，新的登录信息如下：
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td align="left" style="font-size:14px;line-height:24px;color:#000;font-family:Microsoft YaHei,'微软雅黑';">
                        <span style="color:#f99b1c">登录账号：</span>${username}<br />
                        <span style="color:#f99b1c">登录密码：</span>${password}
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td align="right" style="font-size:14px;line-height:24px;color:#666;font-family:Microsoft YaHei,'微软雅黑';padding:30px 0 0 0;">
                        祝您使用愉快。<br />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" bgcolor="#fbfbfb" style="padding:50px 0;background:#fbfbfb;">
            <table width="700" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <!--<td width="160" align="left"><img src="https://www.questmobile.com.cn/images/email/qmerweima.jpg" width="120" height="120" alt="QuestMobile" style="border:1px solid #999;" /></td>-->
                    <td align="left" style="font-size:14px;line-height:24px;color:#666;font-family:Microsoft YaHei,'微软雅黑';">如果您在使用中遇到什么问题，请联系：<br />
                        Email：<a href="mailto:databug\@questmobile.com.cn" target="_blank" style="color:#f99b1c;">liziczh@qq.com</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>
