<section class="card" xmlns="http://www.w3.org/1999/html" style="background:none;border:0;">
   <div class="card-header" style="background:none;border:0;">
      <div class="col-md-4  pull-right mt-2">
         <div class="form-group pull-right">

         </div>
      </div>
      <span class="cat__core__title"><strong>已发报告</strong></span>
      <small class="text-muted"></small>

   </div>
   <div class="mt-3" id="analysisBox">
      <div class="mt-5">
         <div style="margin-bottom:8px">
            <eui-searchbox #sb style="width:200px;float: right;margin-left: 10px;"
                           placeholder="输入报告标题搜索" [formControl]="searchInput">
               <eui-addon>
                  <span *ngIf="sb.value !== null" class="textbox-icon icon-clear" title="Clear value"
                        (click)="sb.value = null"></span>
               </eui-addon>
            </eui-searchbox>
            <eui-combobox
               placeholder="请选择行业分类" [editable]="false"
               [data]="categoryListOption" [(ngModel)]="selectedCategoryId" valueField="id" textField="text"
               (valueChange)="onCategoryChange($event)">
            </eui-combobox>
            <eui-combobox
               style="margin-left: 10px;" placeholder="请选择报告状态" [editable]="false"
               [data]="statusListOption" [(ngModel)]="selectedStatus" valueField="id" textField="text"
               (valueChange)="onValueChange($event)">
            </eui-combobox>
            <eui-combobox
               style="margin-left: 10px;" placeholder="请选择报告版本" [editable]="false"
               [data]="versionListOption" [(ngModel)]="selectedVersion" valueField="id" textField="text"
               (valueChange)="onValueChange($event)">
            </eui-combobox>
         </div>
         <eui-datagrid
            [pagination]="true"
            [lazy]="true"
            [data]="articleList"
            [total]="articleListTotalSize"
            [pageNumber]="articleListPageNum"
            [pageSize]="limit"
            [loading]="loading"
            style="clear: both;"
            (pageChange)="onPageChange($event)">
            <eui-grid-column title="编号" align="center" cellCss="datagrid-td-rownumber" width="5%">
               <ng-template euiCellTemplate let-rowIndex="rowIndex" class="font-size-6">
                  <div class="item font-size-6">{{rowIndex + 1}}</div>
               </ng-template>
            </eui-grid-column>
            <eui-grid-column field="version" title="类型" align="center" width="5%">
               <ng-template euiCellTemplate let-row>
                  <div class="item font-size-6">
                     <div *ngIf="row.version == 0" class="badge badge-success">zh</div>
                     <div *ngIf="row.version == 1" class="badge badge-primary">en</div>
                  </div>
               </ng-template>
            </eui-grid-column>
            <eui-grid-column field="title" title="标题" width="34%">
               <ng-template euiCellTemplate let-row>
                  <div class="item font-size-6">
                     <div [title]="row.title"
                          [innerHTML]="row.title | highLightPipe : searchInput.value">
                     </div>
                  </div>
               </ng-template>
            </eui-grid-column>
            <eui-grid-column field="categories" title="分类" width="18%">
               <ng-template euiCellTemplate let-row>
                  <div class="item font-size-6">
                     <div [title]="row.categories | arrayToString : 'categoryNameZh' : '/'"
                          [innerHTML]="row.categories | arrayToString : 'categoryNameZh' : '/' | highLightPipe : selectedCategoryText">
                     </div>
                  </div>
               </ng-template>
            </eui-grid-column>
            <eui-grid-column field="createTime" title="创建时间" align="center" width="10%">
               <ng-template euiCellTemplate let-row>
                  <div class="item font-size-6">
                     <div [title]="row.createTime">{{row.createTime | dateCommonPipe : 'yyyy-MM-dd'}}</div>
                  </div>
               </ng-template>
            </eui-grid-column>
            <eui-grid-column field="publishTime" title="发布时间" align="center" width="10%">
               <ng-template euiCellTemplate let-row>
                  <div class="item font-size-6">
                     <div [title]="row.publishTime">{{row.publishTime | dateCommonPipe : 'yyyy-MM-dd'}}</div>
                  </div>
               </ng-template>
            </eui-grid-column>
            <eui-grid-column field="publishStatus" title="状态" align="center" width="6%">
               <ng-template euiCellTemplate let-row>
                  <div class="item font-size-6">
                     <span *ngIf="row.publishStatus === 1" class="badge badge-success">正常</span>
                     <span *ngIf="row.publishStatus === 2" class="badge badge-danger">下线</span>
                  </div>
               </ng-template>
            </eui-grid-column>
            <eui-grid-column title="操作" width="8%">
               <ng-template euiCellTemplate let-row>
                  <div class="item font-size-6">
                     <a title="编辑" class="mr-2" (click)="openEditArticle(EDIT_ARTICLE_TEMPLATE,row.id)"
                        href="javascript: void(0);"><i class="icmn-pencil2"></i></a>
                     <a title="链接" class="mr-2" target="_blank" [href]="row.url"
                        href="javascript: void(0);"><i class="icmn-link"></i></a>
                     <a title="PDF下载" class="mr-2" (click)="download(row.contentPdfUrl,row.title)"
                        href="javascript: void(0);"><i class="icmn-file-pdf"></i></a>
                  </div>
               </ng-template>
            </eui-grid-column>
         </eui-datagrid>
      </div>
   </div>

   <!--编辑报告模板-->
   <ng-template #EDIT_ARTICLE_TEMPLATE>
      <div class="modal-header">
         <h5 class="modal-title">{{ifOnline ? '已发布报告修改' : '已下线报告修改'}}</h5>
         <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div class="modal-body">
         <form novalidate [formGroup]="articleForm">
            <div class="form-label">
               <label [for]="title" align="left" class="desc-label">标题<span class="red-color">*</span></label>
               <eui-textbox #title maxlength="50" style="width: 60%;" formControlName="title"
                            placeholder="请输入标题，50字以内"></eui-textbox>
               <label class="error" *ngIf="articleForm.get('title').hasError('required')">请输入标题</label>
               <label class="error" *ngIf="articleForm.get('title').hasError('maxlength')">50字以内</label>
            </div>
            <div class="form-label">
               <div *ngIf="articleForm.get('version').value === 0">
                  <label [for]="version" align="left" class="desc-label">类型<span class="red-color">*</span></label>
                  <eui-radiobutton #version [name]="version" formControlName="version" [value]="0" [inputId]="0"
                                   name="version"></eui-radiobutton>
                  <label style="line-height: 30px;margin-bottom: 0;">中文版</label>
               </div>
               <div *ngIf="articleForm.get('version').value === 1">
                  <label [for]="version" align="left" class="desc-label">类型<span class="red-color">*</span></label>
                  <eui-radiobutton #version [name]="version" formControlName="version" [value]="1" [inputId]="1"
                                   name="version"></eui-radiobutton>
                  <label style="line-height: 30px;margin-bottom: 0;">英文版</label>
               </div>
            </div>
            <div class="form-label" [hidden]="!articleForm.get('bigImgUrl').hasError('required')">
               <label [for]="bigImgBox" align="left" class="desc-label">封面图<span class="red-color">*</span></label>
               <div #bigImgBox style="display: inline-block;width: 60%;">
                  <input type="file" class="dropify" #bigImg data-allowed-file-extensions="png jpg"/>
               </div>
               <eui-linkbutton (click)="uploadBigImgUrl(bigImg)"
                               style="vertical-align: text-bottom;margin-bottom: 6px;">上传
               </eui-linkbutton>
               <label class="error" *ngIf="articleForm.get('bigImgUrl').hasError('required')"
                      style="vertical-align: text-bottom;line-height: 35px;">请先上传封面图</label>
            </div>
            <div class="form-label">
               <div *ngIf="!articleForm.get('bigImgUrl').hasError('required')">
                  <label [for]="bigImg" align="left" class="desc-label">封面图<span class="red-color">*</span></label>
                  <a #bigImg target="_blank"
                     [href]="articleForm.get('bigImgUrl').value">{{articleForm.get("bigImgUrl").value}}</a>
                  <eui-linkbutton title="清除" iconCls="icon-clear" [plain]="true"
                                  (click)="articleForm.patchValue({bigImgUrl: ''})"></eui-linkbutton>
               </div>
            </div>
            <div class="form-label">
               <label [for]="source" align="left" class="desc-label">来源</label>
               <label #source style="line-height: 30px;margin-bottom: 0;">{{this.articleForm.get('source').value}}</label>
            </div>
            <div class="form-label">
               <label [for]="keywords" align="left" class="desc-label">关键词<span class="red-color">*</span></label>
               <eui-textbox #keywords maxlength="50" style="width: 60%;" formControlName="keywords"
                            placeholder="请输入关键词，50字以内，以英文标点“,”隔开"></eui-textbox>
               <label class="error" *ngIf="articleForm.get('keywords').hasError('required')">请输入关键词</label>
               <label class="error" *ngIf="articleForm.get('keywords').hasError('maxlength')">50字以内</label>
            </div>
            <div class="form-label" *ngIf="articleForm.get('version').value === 0">
               <label [for]="categoriesBox" align="left" class="desc-label">行业<span class="red-color">*</span></label>
               <div #categoriesBox>
                  <div class="row" style="margin-right: 14%;">
                     <div *ngFor="let category of articleFormCategories" class="col-md-3" style="margin-top: 3px;">
                        <eui-checkbox [name]="category" [inputId]="category.id" [value]="category.id"
                                      [multiple]="true" formControlName="categories"
                                      (checkedChange)="onCheckedChange($event, category)"
                        ></eui-checkbox>
                        <label [attr.for]="category.id">{{category.text}}</label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-label">
               <label [for]="introduction" align="left" class="desc-label">导语<span class="red-color">*</span></label>
               <textarea #introduction class="form-control" formControlName="introduction" maxlength="400" rows="5"
                         style="width: 60%;display: inline-block;padding: 4px;" placeholder="请输入导语，400字以内"></textarea>
               <label class="error" *ngIf="articleForm.get('introduction').hasError('required')"
                      style="vertical-align: top;">请输入导语</label>
               <label class="error" *ngIf="articleForm.get('introduction').hasError('maxlength')"
                      style="vertical-align: top;">400字以内</label>
            </div>
            <div class="form-label">
               <div *ngIf="articleForm.get('contentImgUrl').hasError('required')">
                  <label [for]="contentImgUrl" align="left" class="desc-label textbox-label">上传报告<span
                     class="red-color">*</span></label>
                  <app-files-upload #contentImgUrl [uploadUrl]="uploadArticleJpgUrl" (childEvent)="uploadJpg($event)"
                                    [accept]="uploadArticleAcceptJpg" [multiple]=true></app-files-upload>
                  <label class="error">请先上传报告（JPEG/JPG版）</label>
               </div>
               <div *ngIf="!articleForm.get('contentImgUrl').hasError('required')">
                  <label [for]="contentImgUrl" align="left" class="desc-label">上传报告<span
                     class="red-color">*</span></label>
                  <label #contentImgUrl>{{articleForm.get("contentImgUrl").value}}</label>
                  数量：{{articleForm.get("contentImgNum").value}}张
                  <eui-linkbutton title="清除" iconCls="icon-clear" [plain]="true"
                                  (click)="articleForm.patchValue({contentImgUrl: ''})"></eui-linkbutton>
               </div>
            </div>
            <div class="form-label">
               <label [for]="contentImgUrlTip" align="left" class="desc-label" style="height: 20px;"></label>
               <label #contentImgUrlTip class="text-default">上传报告（JPEG/JPG版）：将PPT另存为JPEG/JPG格式版图片后上传（多张）</label>
            </div>
            <div class="form-label">
               <div *ngIf="articleForm.get('contentPdfUrl').hasError('required')">
                  <label [for]="contentPdfUrl" align="left" class="desc-label textbox-label">上传报告<span
                     class="red-color">*</span></label>
                  <app-files-upload #contentPdfUrl [uploadUrl]="uploadArticlePdfUrl" (childEvent)="uploadPdf($event)"
                                    [accept]="uploadArticleAcceptPdf" [multiple]=false></app-files-upload>
                  <label class="error">请先上传报告（PDF版）</label>
               </div>
               <div *ngIf="!articleForm.get('contentPdfUrl').hasError('required')">
                  <label [for]="contentPdfUrl" align="left" class="desc-label">上传报告<span
                     class="red-color">*</span></label>
                  <div #contentPdfUrl>
                     <label *ngIf="!ifCanDownloadPdf">{{articleForm.get("contentPdfUrl").value}}</label>
                     <a *ngIf="ifCanDownloadPdf"
                        (click)="download(articleForm.get('contentPdfUrl').value, articleForm.get('title').value)"
                        href="javascript: void(0);">{{articleForm.get("contentPdfUrl").value}}</a>
                     <eui-linkbutton title="清除" iconCls="icon-clear" [plain]="true"
                                     (click)="articleForm.patchValue({contentPdfUrl: ''});ifCanDownloadPdf=false"></eui-linkbutton>
                  </div>
               </div>
            </div>
            <div class="form-label">
               <label [for]="contentPdfUrlTip" align="left" class="desc-label" style="height: 20px;"></label>
               <label #contentPdfUrlTip class="text-default">上传报告（PDF版）：将PPT另存为PDF格式后上传（单个）</label>
            </div>
         </form>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn  btn-outline-success mr-2 mb-2 btn-sm" (click)="preview()">
            预览
         </button>
         <button *ngIf="ifCanUpdate" type="button" class="btn btn-outline-primary mr-2 mb-2 btn-sm"
                 (click)="ifOnline ? update() : publish()">
            保存并发布
         </button>
         <button *ngIf="ifOnline && ifCanDelete" type="button" class="btn btn-outline-danger mr-2 mb-2 btn-sm"
                 (click)="openOfflineArticle(OFFLINE_TEMPLATE)">
            下线
         </button>
         <button type="button" class="btn  btn-dark mr-2 mb-2 btn-sm" (click)="modalRef.hide()">关闭</button>
      </div>
   </ng-template>

   <!--下线模板-->
   <ng-template #OFFLINE_TEMPLATE>
      <div class="modal-body text-center">
         <p class="fc-danger font-size-20">您确定要下线该报告么?</p>
         <button type="button" class="btn btn-outline-primary btn-sm" (click)="offlineArticle()">确定</button>
         <button type="button" class="btn btn-dark btn-sm" (click)="modalRef.hide()">取消</button>
      </div>
   </ng-template>

</section>
