<section class="card" xmlns="http://www.w3.org/1999/html" style="background:none;border:0;">
    <!--页面头部-->
    <div class="card-header" style="background:none;border:0;">
        <div class="col-md-4  pull-right mt-2">
            <div class="form-group pull-right">

            </div>
        </div>
        <span class="cat__core__title"><strong>用户管理</strong></span>
        <small class="text-muted"></small>
    </div>
    <!--页面主体-->
    <div class="mt-3" id="analysisBox">
        <div class="mt-5">
            <div style="margin-bottom:8px; height: 30px;">
                <!--顶部按钮-->
                <eui-linkbutton iconCls="icon-add" (click)="openAddUser(EDIT_USER_TEMPLATE)">添加
                    <!--搜索框-->
                </eui-linkbutton>
                <eui-searchbox #sb style="width:200px;float: right;margin-left: 10px;"
                               placeholder="输入用户姓名搜索" [formControl]="searchInput">
                    <eui-addon>
                  <span *ngIf="sb.value !== null" class="textbox-icon icon-clear" title="清空"
                        (click)="sb.value = null"></span>
                    </eui-addon>
                </eui-searchbox>
                <!--类型-->
                <eui-combobox style="float: right;margin-left: 10px;" placeholder="请选择类型" [editable]="false"
                              [data]="roleListOptions" [(ngModel)]="selectedRoleId" valueField="id" textField="name"
                              (valueChange)="onRoleChange($event)">
                </eui-combobox>
            </div>

            <!--数据表格-->
            <eui-datagrid
                    [pagination]="true"
                    [lazy]="true"
                    [data]="userList"
                    [total]="totalSize"
                    [pageNumber]="pageNum"
                    [pageSize]="limit"
                    [loading]="loading"
                    style="height: 100%;clear: both;"
                    (pageChange)="onPageChange($event)">
                <eui-grid-column title="编号" align="center" cellCss="datagrid-td-rownumber" width="5%">
                    <ng-template euiCellTemplate let-rowIndex="rowIndex" class="font-size-6">
                        <div class="item font-size-6">{{rowIndex + 1}}</div>
                    </ng-template>
                </eui-grid-column>
                <eui-grid-column field="username" title="账号" align="left" width="10%">
                    <ng-template euiCellTemplate let-row>
                        <div class="item font-size-6">
                            <div [title]="row.username">{{row.username}}</div>
                        </div>
                    </ng-template>
                </eui-grid-column>
                <eui-grid-column field="name" title="姓名" align="left" width="10%">
                    <ng-template euiCellTemplate let-row>
                        <div class="item font-size-6">
                            <div [title]="row.name">{{row.name}}</div>
                        </div>
                    </ng-template>
                </eui-grid-column>
                <eui-grid-column field="email" title="邮箱" align="left" width="15%">
                    <ng-template euiCellTemplate let-row>
                        <div class="item font-size-6">
                            <div [title]="row.email">{{row.email}}</div>
                        </div>
                    </ng-template>
                </eui-grid-column>
                <eui-grid-column field="phone" title="联系电话" align="left" width="12%">
                    <ng-template euiCellTemplate let-row>
                        <div class="item font-size-6">
                            <div [title]="row.phone">{{row.phone}}</div>
                        </div>
                    </ng-template>
                </eui-grid-column>
                <eui-grid-column field="contact" title="角色" align="left" width="8%">
                    <ng-template euiCellTemplate let-row>
                        <div class="item font-size-6">
                            <div [title]="row.role.name">{{row.role.name}}</div>
                        </div>
                    </ng-template>
                </eui-grid-column>

                <eui-grid-column title="操作" align="center" width="6%">
                    <ng-template euiCellTemplate let-row>
                        <div class="item">
                            <a title="编辑" (click)="openEditUser(EDIT_USER_TEMPLATE, row)"
                               class="mr-1" href="javascript: void(0);"><i class="icmn-pencil2"></i></a>
                            <a title="重置密码" (click)="openResetPassword(RESET_PASSWORD_TEMPLATE, row)"
                               class="mr-1" href="javascript: void(0);"><i class="icmn-spinner11"></i></a>
                            <a title="移除" (click)="openDeleteUser(DELETE_USER_TEMPLATE, row)"
                               class="mr-1" href="javascript: void(0);"><i class="icmn-bin"></i></a>
                        </div>
                    </ng-template>
                </eui-grid-column>
            </eui-datagrid>
        </div>
    </div>

</section>

<!--编辑用户模板-->
<ng-template #EDIT_USER_TEMPLATE>
    <div class="modal-header">
        <h5 class="modal-title">{{ifAdd ? '添加用户' : '修改用户'}}</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form novalidate [formGroup]="userForm">
            <div *ngIf="ifAdd" class="form-label">
                <label [for]="username" align="left" class="desc-label">账号<span class="red-color">*</span></label>
                <eui-textbox #username maxlength="20" style="width: 60%;" formControlName="username"
                             placeholder="请输入账号（由数字与字母组成）"></eui-textbox>
                <label class="error" *ngIf="userForm.get('username').hasError('required')">请输入名称</label>
                <label class="error" *ngIf="userForm.get('username').hasError('minlength')">4字以上</label>
                <label class="error" *ngIf="userForm.get('username').hasError('maxlength')">20字以内</label>
                <label class="error" *ngIf="userForm.get('username').hasError('pattern')">请输入字母与数字</label>
            </div>
            <div *ngIf="!ifAdd" class="form-label">
                <label [for]="username" align="left" class="desc-label">账号<span class="red-color">*</span></label>
                <eui-textbox #username maxlength="20" style="width: 60%;" formControlName="username"
                             readonly="true"></eui-textbox>
            </div>
            <div *ngIf="ifAdd" class="form-label">
                <label [for]="password" align="left" class="desc-label">密码<span class="red-color">*</span></label>
                <eui-textbox #password maxlength="20" style="width: 60%;" formControlName="password"
                             pattern="^[A-Za-z0-9]+$"
                             placeholder="请输入密码（由数字与字母组成）"></eui-textbox>
                <label class="error" *ngIf="userForm.get('password').hasError('required')">请输入密码</label>
                <label class="error" *ngIf="userForm.get('password').hasError('minlength')">6字以上</label>
                <label class="error" *ngIf="userForm.get('password').hasError('maxlength')">20字以内</label>
                <label class="error" *ngIf="userForm.get('password').hasError('pattern')">请按格式输入</label>
            </div>
            <div class="form-label">
                <label [for]="name" align="left" class="desc-label">姓名<span class="red-color">*</span></label>
                <eui-textbox #name maxlength="20" style="width: 60%;" formControlName="name"
                             placeholder="请输入姓名"></eui-textbox>
                <label class="error" *ngIf="userForm.get('name').hasError('required')">请输入姓名</label>
                <label class="error" *ngIf="userForm.get('name').hasError('maxlength')">20字以内</label>
            </div>
            <div class="form-label">
                <label [for]="role" align="left" class="desc-label">角色<span class="red-color">*</span></label>
                <eui-combobox #role style="width: 60%;" formControlName="role" [editable]="false"
                              [data]="userRoleList" [valueField]="'id'" [textField]="'name'"
                              (valueChange)="onFormRoleChange($event)"></eui-combobox>
                <label class="error" *ngIf="userForm.get('role').hasError('required')">请选择角色</label>
            </div>
            <div class="form-label">
                <label [for]="email" align="left" class="desc-label">邮箱<span class="red-color">*</span></label>
                <eui-textbox #email maxlength="30" style="width: 60%;" formControlName="email"
                             placeholder="请输入邮箱"></eui-textbox>
                <label class="error" *ngIf="userForm.get('email').hasError('required')">请输入邮箱</label>
            </div>
            <div class="form-label">
                <label [for]="phone" align="left" class="desc-label">联系电话<span class="red-color">*</span></label>
                <eui-textbox #phone maxlength="20" style="width: 60%;" formControlName="phone"
                             pattern="^[1]([3-9])[0-9]{9}$"
                             placeholder="请输入联系电话"></eui-textbox>
                <label class="error" *ngIf="userForm.get('phone').hasError('required')">请输入联系电话</label>
                <label class="error" *ngIf="userForm.get('phone').hasError('pattern')">请按格式输入</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn  btn-outline-success mr-2 mb-2 btn-sm" [disabled]="!userForm.valid"
                (click)="ifAdd ? submitAddUser() : submitEditUser()">
            提交
        </button>
        <button type="button" class="btn  btn-dark mr-2 mb-2 btn-sm" (click)="modalRef.hide()">关闭</button>
    </div>
</ng-template>

<!--重置密码模板-->
<ng-template #RESET_PASSWORD_TEMPLATE>
    <div class="modal-header">
        <h5 class="modal-title">{{'重置密码'}}</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label [for]="password" align="left" class="desc-label">密码<span class="red-color">*</span></label>
        <eui-textbox #password minlength="6" maxlength="20" style="width: 60%;" [(ngModel)]="newPassword"
                     placeholder="请输入密码（由数字与字母组成）"></eui-textbox>
        <eui-linkbutton (click)="randomPassword()">生成密码</eui-linkbutton>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn  btn-outline-success mr-2 mb-2 btn-sm"
                (click)="submitResetPassword()">
            提交
        </button>
        <button type="button" class="btn  btn-dark mr-2 mb-2 btn-sm" (click)="modalRef.hide()">关闭</button>
    </div>
</ng-template>

<!--删除用户-->
<ng-template #DELETE_USER_TEMPLATE>
    <div class="modal-header">
        <h5 class="modal-title">删除用户</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h5 class="modal-body">
            您确定要删除用户<span class="error">{{deletedUser.name}}</span>吗？
        </h5>
    </div>
    <div class="modal-footer">
        <button class="btn  btn-outline-success mr-2 mb-2 btn-sm" (click)="deleteUser(deletedUser.id)"
                type="button">确定
        </button>
        <button class="btn  btn-dark mr-2 mb-2 btn-sm" (click)="modalRef.hide()"
                type="button">关闭
        </button>
    </div>
</ng-template>